<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.hfoss.posit"
	android:versionCode="1" android:versionName="0.5.0r">
	<uses-sdk android:minSdkVersion="3"/>
	<uses-permission android:name="android.permission.CAMERA"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>	
	<uses-permission android:name="android.permission.READ_PHONE_STATE">Getting the IMEI code for identification</uses-permission>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>	
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.VIBRATE"/>
<uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
	<!-- 
	<uses-permission android:name="android.permission.ACCESS_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_GPS" /> 
	<uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS" /> 
	<uses-permission android:name="android.permission.ACCESS_CELL_ID" /> 
	<uses-permission android:name="android.permission.CONTROL_LOCATION_UPDATES"></uses-permission>
	-->
	<application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
		<uses-library android:name="com.google.android.maps" />	
		<activity android:name=".PositMain" android:label="@string/app_name" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".AboutActivity" />
		<activity android:name=".FindActivity" />
		<activity android:name=".ImageViewActivity" />
		<activity android:name=".ListFindsActivity" />
		<activity android:name=".MapFindsActivity" />
		<!-- <activity android:name=".PositMain" /> -->
		<activity android:name=".ServerRegistrationActivity" />
		<activity android:name=".SettingsActivity" />	
		<activity android:name=".ShowProjectsActivity" />
		<activity android:name=".StartMapActivity" />
		<activity android:name=".SyncActivity" />
		<activity android:name=".AdhocClientActivity" />
		<activity android:name=".TrackerActivity"/>
		<activity android:name=".NativeActivity"/>
		<activity android:name=".SahanaSMSActivity"/>
		<service android:name=".RWGService" />
		<provider android:name="POSITProvider" android:authorities="org.hfoss.provider.POSIT" />
	</application>
</manifest>
	