/*
	
	POSIT Web
	@author: Jwalanta Shrestha
	
	CSS Style Sheet
	
*/

body{
	background: #fff;
	margin: 0px;
	padding: 0px;
	font-family: Verdana;
}

a {
	color: #3252b2;
	font-weight: bold;
	text-decoration: none;
}

a:hover{
	color: #020408;
}

a img {
	border: 0;
}

p, li {
	font-size: 12px;
	font-family: verdana;
}

.container{
	width: 800px;
	margin: 0 auto;
	padding: 10px;
	clear:both;
}

.container h2{
	font: 1.1em Verdana;
	font-weight: bold;
	color: #3252b2;
}

.container h3{
	font-size: 1em;
	font-weight: bold;
	color: #666;
}



#header{
	height: 100px;
	margin: 0px;
	border-bottom: 1px solid #666;
	font: 11px Verdana;
	color: #333;
}

#header p{
	float: right;
	margin-top: 40px;
}

.headerlogo{
	font: 50px Verdana; color: #aaa; font-weight: bold;
	margin: 10px;
}

.headerlogo a{
	color: #aaa;
}

#content{
	margin: 25px 0;
}

#footer{
	text-align: center;
	color: #666;
	border-top: 1px solid #999;
	height: 75px;
}

#footer p{
	font-size: 10px;
}

.right{
	float:right; padding: 5px;
}

.left{
	float:left; padding: 5px;
}

.clearboth{
	clear:both;
}

#loginbox{
	margin-left: 100px;
}


.inputbox {
	padding: 4px;
}


.inputbox label {
	display: block;
	font-weight: bold;
	font-family: Verdana;
	color: #333;
	font-size: 90%;
}

.inputbox input{
	font-size: 110%;
}

.errormsg{
	background-color: #FFAAAA;
	border: 1px solid red;
	padding: 3px 10px;
	display: inline;
}

.news{
	padding: 10px;
	border:1px solid #eee;
	margin: 5px;
}

.news .news-title{
	font-weight: bold;
	color: #333;
}

.news .news-teaser{
	font-size: 12px;
	padding: 10px 0;
}

.news .news-body{
	font-size: 12px;
	padding: 10px 0;
}

.news .news-footer{
	font-size: 10px;
}


.projects{
	padding: 10px;
	border:1px solid #eee;
	margin: 5px;
}

.projects .project-title{
	font-weight: bold;
	color: #333;
}

.projects .project-desc{
	font-size: 12px;
	padding: 10px 0;
}

.projects .project-footer{
	font-size: 11px;
}


#field-list {
	list-style: none;
	margin-left:-30px;
}

#field-list li {
	display: block;
	padding: 20px 10px; margin-bottom: 3px;
	background-color: #efefef;
	padding-left: 50px;
	
}

#field-list img.handle {
	float:left;
	margin-left: -30px;
	cursor: move;
}

.notify-info{
	float:right;
	padding: 0 10px 0 10px;
	font-weight: bold;
	background-color: yellow;
}

.notify-error{
float:right;
	padding: 0 10px 0 10px;
	font-weight: bold;
	background-color: #DD0000;
	color: white;
}

#msg{
	float:right;
	padding: 0 10px;
	font-weight: bold;
	background-color: yellow;
	font-size: 11px;
}

.field_column input{
	font-size: 12px;
	font-weight: bold;
	
}